body {
  /* max-width: 650px;
  margin: 40px auto;
  padding: 0 10px; */
  /* font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* color: #444; */
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

a {
  color: #d22e7a !important
}

/* .hang {
  height: 200px;
  background-size: contain;
  width: auto;
} */

.container {
  bottom: 0;
  left: 0;
  height: 200px;
  margin: auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.container .hang {
  max-width: 100%;
}


.green-link {
  color: #01a425 !important;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.logo {
  max-width: 550px;
}

@media (prefers-color-scheme: dark) {
  body {
    /* color: #ccc;
    background: black; */
  }

  a:link {
    /* color: #5bf; */
  }

  a:visited {
    /* color: #ccf; */
  }
}



.nav-header {
  text-align: center;
}



body {
  /* margin:0;
  padding:0;
  font-family: Sans-Serif;
  line-height: 1.5em; */
}

#header {
  /* background: #ccc; */
  padding-top: 20px;
  height: 100px;
  margin: 0;
}

#h1 {
  margin: 0;
  padding-top: 15px;
}

/* main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
} */

#nav {
  /* padding-bottom: 10010px;
  margin-bottom: -10000px; 
  float: left;
  width: 230px;
  margin-left: -100%;
   background: #eee; */
}

#page-container {
  position: relative;
  min-height: 100vh;
  /* overflow: hidden; */
  overflow-y: scroll;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  /* overflow: hidden; */
}

#footer {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
}


      
#content {
  /* margin-left: 230px; Same as 'nav' width */
  /* max-width: 800px; */
  max-width:600px; 
  margin:0 auto;
}

.innertube {
  margin: 15px; /* Padding for content */
  margin-top: 20px;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: rgb(182, 0, 161);
  text-decoration: none;
}


